{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section class="legal-page">
    <h1>Mentions légales</h1>

    <h3>1. Éditeur du site</h3>
    <p><strong>Nom du site :</strong> My Cave</p>
    <p><strong>Responsable de publication :</strong> Marie Jean</p>
    <p><strong>Email : cavede@sarcelles.com</p>
    <p><strong>Adresse : Cave de 95585 Sarcelles</strong> </p>
    <p><strong>Téléphone : 09-12-89-60-00</strong> </p>
    

    <h3>2. Hébergeur</h3>
    <p><strong>Nom :</strong> O2Switch</p>
    <p><strong>Adresse :</strong> Chemin des Pardiaux 63000 Clermont-Ferrand</p>
    <p><strong>Site :</strong> <a href="https://www.o2switch.fr/" target="_blank">https://www.o2switch.fr/</a></p>

    <h3>3. Propriété intellectuelle</h3>
    <p>Tout le contenu présent sur ce site (textes, images, logos, etc.) est protégé par le droit d’auteur. Toute reproduction, distribution ou exploitation sans autorisation est interdite.</p>

    <h3>4. Responsabilité</h3>
    <p>L’éditeur du site ne saurait être tenu responsable en cas de dommages directs ou indirects causés au matériel de l’utilisateur, ni d’erreurs ou d’omissions dans les contenus diffusés.</p>

    <h3>5. Données personnelles</h3>
    <p>Les informations personnelles collectées sont traitées conformément à notre <a href="{{ path('confidentialite') }}">Politique de confidentialité</a>.</p>

    <h3>6. Cookies</h3>
    <p>Le site peut utiliser des cookies pour améliorer l’expérience utilisateur. Vous pouvez les gérer via les paramètres de votre navigateur.</p>

    <h3>7. Loi applicable</h3>
    <p>Le présent site est régi par les lois françaises. En cas de litige, les tribunaux français seront seuls compétents.</p>
</section>
{% endblock %}