@use "../base/typographys";

$font-source: "Source Sans Pro Regular", serif;
$font-source-bold: "Source Sans Pro Bold", serif;

$color-wine:rgba(62, 0, 24, 1);
$color-rose:rgba(136, 0, 45, 1);
$color-magenta:rgba(136, 92, 126, 1);

$color-white: #F4F4F4;

$color-text-white: white;
$color-text-black: black;