@use "../abstracts/variables" as variable;

.cta {
    padding: 1rem 1.5rem;
    color: variable.$color-text-white;
    background-color: variable.$color-wine;
    border: solid 3px variable.$color-wine;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.cta:hover {
    background-color: variable.$color-rose;
}