@use "../abstracts/variables" as variable;

.cta {
    padding: 1rem 1.5rem;
    color: variable.$color-text-white;
    background-color: variable.$color-wine;
    border: solid 3px variable.$color-wine;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.cta:hover {
    background-color: variable.$color-rose;
}

.reset-btn {
    flex: 0 0 auto;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid variable.$color-magenta;
    border-radius: 4px;
    color: variable.$color-magenta;
    transition: all 0.2s ease-in-out;
}
.reset-btn:hover {
    background-color: variable.$color-magenta;
    color: variable.$color-white;
}