@use "../abstracts/variables" as variable;

@mixin hovering($origin: right) {
    content: '';
    position: absolute;
    top: 0; right: -1rem; bottom: 0; left: -1rem;
    background-color: variable.$color-rose; // ou une autre couleur (ici : blanc semi-transparent)
    transform: scaleX(0);
    transform-origin: $origin;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
}

@keyframes show-content {
    0% {
        opacity: 0;
    };
    100% {
        opacity: 1;
    };
};

@keyframes dont-show-content {
    0% {
        opacity: 1;
    };
    100% {
        opacity: 0;
    };
};

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: variable.$color-wine;

    .header {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-container {
            position: relative;
            width: 10%;
            min-width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s ease-in-out;
        }
        .logo-container:hover {
            transform: rotate(-10deg);
        }
        .logo-container::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 2px;
            width: 100%;
            background-image: linear-gradient(to right, transparent 0%, transparent 30%, variable.$color-white 50%, variable.$color-white 100%);
            transition: opacity 0.3s ease;
            opacity: 1;
        }
        .logo-container:not(active)::after {
            opacity: 0;
        }
        .logo-container.active::after {
            opacity: 1;
        }

        .navbar__menu {
            .list-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .list-nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        padding: 0 1rem;
                        border-right: solid 1px variable.$color-white;
                        min-height: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        li {
                            position: relative;
                        }

                        li a span{
                            position: relative;
                            z-index: 1;
                            color: variable.$color-white;
                        }
                        li a span.active{
                            font-weight: bold;
                            border-bottom: 2px solid currentColor;
                        }
                        li a::before{
                            @include hovering();
                        }
                        li a:hover::before{
                            transform: scaleX(1);
                        }
                    }
                }

                .dropdown {
                    position: relative;
                    display: none;
                    margin-right: 5rem;
                    transition: display 5s ease-out;
                    i {
                        color: variable.$color-rose;
                    };
                };
                .dropdown:hover {
                    cursor: pointer;
                };
                .dropdown-content {
                    position: absolute;
                    z-index: 1;
                    display: none;
                    flex-direction: column;
                    min-width: 10rem;
                    padding: 0.8rem 1rem;
                    border: 3px solid variable.$color-rose;
                    border-radius: 1rem;
                    background-color: variable.$color-wine;
                    box-shadow: 0 10px 15px 12px variable.$color-magenta;
                    transform: translate(-45%, 2%);

                    li a:hover {
                        border-bottom: 1px solid variable.$color-rose;
                    }
                };

                .language-switcher li {
                    position: relative;
                }
                .language-switcher li a span{
                    position: relative;
                    z-index: 1;
                    color: variable.$color-white;
                }
                .language-switcher li a span.active {
                    font-weight: bold;
                    border-bottom: 2px solid currentColor;
                }
                .language-switcher li::before {
                    @include hovering(left);
                }
                .language-switcher li:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}

@media screen and (min-width:1921px) {  
    #header {
        .header {
            .logo-container {
                width: 7%;
            }
            .logo-container:hover {
                transform: rotate(-8deg);
            }
        }
    }
}

@media screen and (max-width:1250px) {  
    #header {
        .header {

        }
    }
}

@media screen and (max-width:768px) {  
    #header {
        .header {
            .logo-container {
                width: 15%;
            }
            .navbar__menu {
                .list-container {
                    .list-nav {
                        display: none;
                    }
                    .dropdown {
                        position: relative;
                        display: inherit;
                    };
                }
           }
        }
    }
}

@media screen and (max-width:525px) {
    #header {
        .header {
            
        }
    }
}

@media screen and (max-width:453px) {
    #header {
        .header {
        
        }
    }
}