{% extends 'base.html.twig' %}

{% block title %}{{ 'navbar.caves_list'|trans }}{% endblock %}

{% block body %}
    <section id="cellar-card">
        <div class="cellar-card">
            {% for cave in caves %}
                <div class="card">
                    <a class="card-container" href="{{ path('cellar',{'id' : cave.id, '_locale': app.request.locale}) }}">
                        <div class="title-card-container">
                            <h3>{{ 'cellars_of'|trans }}</h3>
                            <h2>{{ cave.user.userName }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}


