{% extends 'base.html.twig' %}

{% block title %}Hello CellarController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/symfony---mycave/src/Controller/CellarController.php</code></li>
        <li>Your template at <code>/var/www/html/symfony---mycave/templates/cellar/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
